[Unit]
Description=Simplest Node Health Indicator
After=network-online.target
[Service]
Type=simple
Restart=always
User=pi
WorkingDirectory=/home/pi/simplest-node-health-indicator
ExecStart=/usr/bin/npm start 

[Install]
WantedBy=multi-user.target